<h2>{{ title }}</h2>
<p id="about-blurb">This application was created as a final project for CSCI 201L at the University of Southern California, taught by Jeffrey Miller. Using the provided JSON traffic data, we have set up a Java server and MySQL database which processes the data and sends it to the Firebase service. The web client can then read and write to Firebase in real-time using the Firebase API, Angular.js, and AngularFire. Graphical representation of data is accomplished using HTML5 canvas and JavaScript.</p>
<h3>Team</h3>
<ul>
    <li>Stephen Chen</li>
    <li>Akash Desai</li>
    <li>Karthik Gollapudi</li>
    <li>Barret Zoph</li>
</ul>
<h3>Key</h3>
<ul>
    <li>Red squares are slow cars.</li>
    <li>Yellow squares are cars.</li>
    <li>Green squares are fast cars.</li>
    <li>Blue squares indicate the selected path.</li>
</ul>
