<h2>{{ title }}</h2>
<a href="https://shining-fire-3401.firebaseio.com/">View Firebase For All Data</a>
<button id="generate" ng-click="generate()">Click to generate all data in console.</button>
<h3>Ramps</h3>
<div>Total data points: <strong>{{ ramps }}</strong> ramps</div>
<h3>Cars</h3>
<div>Total data points: <strong>{{ cars }}</strong> cars</div>
<h3>Directions</h3>
<div><strong>{{ start }}</strong> to <strong>{{ end }}</strong></div>
<div>Avg. 24hr travel time: <strong>{{ directions }}</strong> minutes</div>